<form method="post" action="{{ path('list_element_make_done', {'child_id': element.id,'parent_id': element.list.id}) }}" onsubmit="return confirm('Na pewno?');">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="_token" value="{{ csrf_token('patch' ~ element.id) }}">
    <button class="btn btn-success btn-sm">
        {% if element.done %}
            Oznacz jako nie wykonane
        {% else %}
            Oznacz jako wykonane
        {% endif %}
    </button>
</form>
