<form method="post" action="{{ path('list_element_delete', {'sort': element.sort,'parent_id': element.list.id}) }}" onsubmit="return confirm('Na pewno chcesz usunąć ten element?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ element.id) }}">
    <button class="btn btn-dark btn-sm">Usuń</button>
</form>
