{% extends 'base.html.twig' %}

{% block title %}Edycja listy{% endblock %}

{% block body %}
    <h1>Edytuj listę</h1>

    {{ include('list/_form.html.twig') }}
    <div class="btn-group">
    <a class="btn btn-secondary" href="{{ path('list_my') }}">Powrót do listy</a>
    {{ include('list/_delete_form.html.twig') }}
    </div>
{% endblock %}
